<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ SITENAME }} | {% block title %}{% endblock title %}</title>
    {% else %}
    <title>{{ SITENAME }}</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="description" content="Classes held for the Arch Linux community">
    <meta name="author" content="Arch Classroom">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css">
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header class="main">
      <nav id="navigation" role="navigation">
        <h2>
          <a {% if page_name == 'index' %}class="active"{% endif %} href="{{ SITEURL  }}">
            {{ SITENAME }}
          </a>
        </h2>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="toggle" onclick></label>
        <ul id="menu">
        {% if DISPLAY_PAGES_ON_MENU %}
        {% if pages %}
        {% for p in pages %}
          <li>
            <a{% if p == page %} class="active"{% endif %} href="{{ SITEURL }}/{{ p.url }}">
              {{ p.title }}
            </a>
          </li>
        {% endfor %}
        {% endif %}
        {% endif %}
        </ul>
      </nav>
    </header>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <aside id="sidebar">
      {% if LINKS %}
      <section class="infobox">
        <h3>Related Links</h3>
        <ul>
        {% for title, link in LINKS %}
          <li>
            <a href="{{ link }}">{{ title }}</a>
          </li>
        {% endfor %}
        </ul>
      </section>
      {% endif %}
      <section>
        <h3>Categories</h3>
        <ul>
        {% for item in categories %}
          <li>
            <a href="{{ SITEURL }}/category/{{ item }}">
              {{ item }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </section>
    </aside>
    <footer class="main">
      <p>&copy; 2017 Arch Linux Classroom</p>
    </footer>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script>
        $(document).click(function(event) {
          if(!$(event.target).closest('nav').length) {
            if($('#toggle').is(":checked")) {
              $('#toggle').attr('checked', false);
            }
          }
        });
    </script>
    <a class="ribbon" href="https://github.com/archclassroom">
      Contribute on Github
    </a>
  </body>
</html>
